# Lab: Introduction to Notebooks for SPSS Professionals - Part 1

## Introduction

The purpose of this lab is to help professionals who currently use SPSS Modeler understand how a data scientist can use notebooks for implementing various analytics use cases. 

When we compare environments, it's done for educational purposes only. SPSS Modeler and notebooks were built in different decades using different technologies; they are also typically used by different types of data scientists. While the Notebook interface may seem "difficult to understand" for somebody who is used to visual environment, it provides great improvement in usability and productivity for data scientists who are used to working in shell environments. With a notebook a data scientist can provide explanation for what happens in the code and add visualizations. 

We chose a simple analytics use case for this lab - predicting mortgage default. We are using different predictive models (C5 classification model in SPSS and Spark ML Decision Tree Classifier in the notebook) because we want to focus on explaining functionality, and not comparing performance or accuracy.  

If you modify this notebook for customer demos, please don't use it in the context of "it's easier to build analytics in a visual environment". Showing the same analytics use case in two environments is meant to show flexibility, not to position environments against each other. 


## Notebooks

This notebook IDE is built on top of open source Jupyter notebooks. A notebook is a file type that contains 
1. Code (Python, R or Scala)
2. Markdown (comments like the ones you are reading now)
3. A connection to a kernel (runtime environment). The kernel in this environment is provided by Spark. 

The content of a notebook is organized in "cells". The two main types of cells are "code" and "markdown". As you review the rest of the notebook, you may see some text that's marked with "out". The "out" tag is for output of code directly above it. If you don't see the out tag, then the output may have been cleared or the code in the cell didn't produce any printable output. 

While notebook IDE looks different from SPSS Modeler, these tools have several similarities on the technical level. When we run a Modeler stream, the visual nodes are converted to code which is executed in Modeler server. When we run notebooks, the code that we provide runs in the specific kernel for each programming language (the notebook IDE automatically starts a kernel for the programming language in which the notebook is implemented). 

You will notice that the notebook IDE has a menu that's dedicated to kernels with actions like start, restart, reconnect, etc. This is similar to connections to Modeler Server. Notebook IDE offers more flexibility for connections to the kernel and the ability to switch kernels because several versions of programming languages are supported. 

When we work with notebooks, we have an option to run the entire notebook (all cells in the notebook) or individual cells. This is similar to running the entire Modeler stream or a selected branch. If you are running individual cells, it's important that the cells above it had been run. Again, this is similar to Modeler (we don't start execution in the middle of the stream, and if we do, we turn on caching). 

If you want to run a cell, position the cursor at the end of the last line, and select menu Cell -> Run Cells (or click the Run icon). When the cell is running, you will see an an asterisks next to the cell [*]. Don't run any subsequent cells until execution is done.  


Since Notebooks are based on an open source technlogy, you can find many tutorials and sample Notebooks. 
Here are some notebooks that show "functional/technical" features of Python and R: https://github.com/IBMDataScience/sample-notebooks
You can find additional notebooks on the Community page of DSX.


## Sample Modeler Stream

Start with reviewing the sample Modeler stream that was provided by your instructor (MortgageDefault.str). In this lab we'll implement the same use case using Python and SparkML.

![Mortgage Default SPSS stream](https://ibm.box.com/shared/static/hye9foibsh7wvexdfyp8h30pgpnc3cs3.jpg)

## Working with a Notebook
Until you click the Edit icon (pencil in the top right corner), you are looking at the "static" version of the notebook (i.e. it' simply displaying the content of the file, and it's not connected to a kernel). 

After you click the Edit icon, notice the "Kernel starting" message in the top right corner. You should also see a menu bar becuase we have opened the notebook IDE. 

Explore the menu options and let the instructor know if you have any questions. We'll use some of the menu options in this lab. 

As you are working on this lab, read the information in the markdown cells. To run code in each cell, position cursor at the end of the last line of code cell and click the Run icon. As mentioned earlier, the cell is still running if you see [*] next to the code cell, and not every cell will have printed output.

## Mortgage Default Use Case Implementation

### Step 1: Connect to Object Storage

We start with connecting to Object Storage. Object Storage is the Bluemix environment for storing flat files. If you go back to the Project dashboard and click on Data Assets, you'll see 4 files - Default.csv, Customer.csv, Property.csv, and TestData1.csv. 

The following code has been generated by DSX and <span style="color:blue">it's connecting to one of the instructors' Object Storage</span>. If you would like to load data files to your own Object Storage, please check with the lab instructor. 

We use the SQLContext API because it makes it easier to work with files.

In [1]:
# The code was removed by DSX for sharing.

### Step 2: Load files

#### The cell below is reading a CSV file using the Spark 2.0 format: spark.read.option.option.csv(path_to_file). However, the 'spark' session variable does not seem to be working correctly on a regular basis (at the time of writing of this notebook) and will return a failure about the inability to instantiate a hive data structure. Consequently, it is replaced (as a workaround) with the sqlContext session variable, which was more prevalent in pre 2.0 versions of spark but continues to be supported for backward compatibility.
#### Note that the "inferschema" option is fundamental here. It allows Spark to read in the numerical columns as a "double" datatype. Without this option, all columns are read as "String" and manual conversions need to be performed prior to invoking the 'Vector Assembler' transformer and the machine learning model used in this notebook (Decision Tree) which require "double" values and not strings. Also worth noting is that the pixie dust visualization shown a few cells below in this notebook will also fail if the numeric columns are not read as a double datatype.

In [2]:
default = (sqlContext.read
            .option("header", "true")
            .option("inferschema", "true")
            .csv('swift://MortgageDefault.' + name + '/Default.csv'))
default.toPandas().head()

       ID MortgageDefault
0  100272              NO
1  100273             YES
2  100279              NO
3  100280              NO
4  100282              NO

#### Subsequent files are read using the Spark 2.0 syntax, but still using the sqlContext session variable.

In [3]:
property = (sqlContext.read
            .option("header", "true")
            .option("inferschema", "true")
        .csv('swift://MortgageDefault.' + name + '/Property.csv'))
property.toPandas().head()

       ID  SalePrice  Location
0  100272     180000       130
1  100273     145000       100
2  100279     145000       110
3  100280     170000       100
4  100282     137000       100

In [4]:
customer = (sqlContext.read
            .option("header", "true")
            .option("inferschema", "true")
            .csv('swift://MortgageDefault.' + name + '/Customer.csv'))
customer.toPandas().head()

,ID,Income,AppliedOnline,Residence,Yrs at Current Address,Yrs with Current Employer,Number of Cards,Creditcard Debt,Loans,Loan Amount
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985

#### Assuming the data was previously split into training and testing, the file below represents the "theoretical" testing set (although in practice, the current data set used for demo purposes is so small that we are simply reusing the same data for testing, clearly not a best practice for a "real" scenario). <br><br>Note that it is also common when working in a Spark environment to split the original data set into training and testing programatically, inside the notebook.

In [5]:
testingData = (sqlContext.read\
                .option("header", "true")\
                .option("inferschema", "true")\
                .csv('swift://MortgageDefault.' + name + '/TestData1.csv'))
testingData.toPandas().head()

,ID,Income,AppliedOnline,Residence,YearCurrentAddress,YearsCurrentEmployer,NumberOfCards,CCDebt,Loans,LoanAmount,SalePrice,Location,historicalLabel
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820,180000,130,0
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275,145000,100,1
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760,145000,110,0
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455,170000,100,0
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985,137000,100,0

### Step 3: Merge Files
This step is similar to Merge node in Modeler. The syntax used to perform the join between the data sets is a Spark "domain specific language", also known as DSL. It is a fairly similar to the more familiar SQL language, although somewhat different in the syntax.

In [6]:
merged = (customer.join(property, customer['ID'] == property['ID'])
                  .join(default, customer['ID']==default['ID'])
                  .select(customer['*'],property['SalePrice'], property['Location'], default['MortgageDefault']))
# Preview  5 rows
merged.toPandas().head()

,ID,Income,AppliedOnline,Residence,Yrs at Current Address,Yrs with Current Employer,Number of Cards,Creditcard Debt,Loans,Loan Amount,SalePrice,Location,MortgageDefault
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820,180000,130,NO
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275,145000,100,YES
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760,145000,110,NO
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455,170000,100,NO
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985,137000,100,NO

#### The join above can easily be rewritten as an SQL statement using the SparkSQL interface. In order to do so, all that is needed is registering the dataframes (customer, property and default) as local temporary tables. We can then write the join logic in SQL. The "show" method is native to SparkSQL and will display by default the first 20 rows.

In [7]:
# Spark SQL also allow you to use standard SQL
customer.createOrReplaceTempView("customer")
property.createOrReplaceTempView("property")
default.createOrReplaceTempView("default")

query = """

SELECT c.*
    , p.SalePrice
    , p.Location
    , d.MortgageDefault
FROM customer c
INNER JOIN property p
    on c.ID = p.ID
INNER JOIN default d
    on c.ID = d.ID
    
"""
sqlContext.sql(query).toPandas().head()

,ID,Income,AppliedOnline,Residence,Yrs at Current Address,Yrs with Current Employer,Number of Cards,Creditcard Debt,Loans,Loan Amount,SalePrice,Location,MortgageDefault
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820,180000,130,NO
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275,145000,100,YES
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760,145000,110,NO
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455,170000,100,NO
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985,137000,100,NO

### Step 4: Data understanding
This capability is similar to graphboard in Modeler.
PixieDust is a Python Helper library for Spark IPython Notebooks. One of it's main features are visualizations. You'll notice that the unlike other APIs which produce just output, PixieDust creates an interactive UI in which you can explore data.

Try creating different graphs. 

More information about PixieDust: https://github.com/ibm-cds-labs/pixiedust?cm_mc_uid=78151411419314871783930&cm_mc_sid_50200000=1487962969

In [8]:
from pixiedust.display import *
display(merged)

### Step 5: Rename some columns
This step is not a requirement, it just makes some columns names simpler to type with no spaces

In [9]:
merged2 = (merged.withColumnRenamed("Yrs at Current Address", "YearCurrentAddress")
                .withColumnRenamed("Yrs with Current Employer","YearsCurrentEmployer")\
                .withColumnRenamed("Number of Cards","NumberOfCards")
                .withColumnRenamed("Creditcard Debt","CCDebt").withColumnRenamed("Loan Amount", "LoanAmount"))

#### Display the contents of the Spark dataframe (top 5 rows)

In [10]:
merged2.toPandas().head()

,ID,Income,AppliedOnline,Residence,YearCurrentAddress,YearsCurrentEmployer,NumberOfCards,CCDebt,Loans,LoanAmount,SalePrice,Location,MortgageDefault
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820,180000,130,NO
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275,145000,100,YES
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760,145000,110,NO
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455,170000,100,NO
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985,137000,100,NO

#### Verify that all the numeric columns in merged2 have a "double" datatype

In [11]:
merged2.printSchema()

root
 |-- ID: double (nullable = true)
 |-- Income: double (nullable = true)
 |-- AppliedOnline: string (nullable = true)
 |-- Residence: string (nullable = true)
 |-- YearCurrentAddress: double (nullable = true)
 |-- YearsCurrentEmployer: double (nullable = true)
 |-- NumberOfCards: double (nullable = true)
 |-- CCDebt: double (nullable = true)
 |-- Loans: double (nullable = true)
 |-- LoanAmount: double (nullable = true)
 |-- SalePrice: integer (nullable = true)
 |-- Location: integer (nullable = true)
 |-- MortgageDefault: string (nullable = true)

### Step 6: Build the Spark pipeline and the Decision Tree model
"Pipeline" is an API in SparkML that's used for building models.
Additional information on SparkML: http://spark.apache.org/docs/latest/ml-guide.html

In [13]:
from pyspark.ml.feature import StringIndexer, VectorIndexer
from pyspark.ml import Pipeline
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import DecisionTreeClassifier

# Prepare string variables so that they can be used by the decision tree algorithm
stringIndexer1 = StringIndexer(inputCol='AppliedOnline', outputCol='AppliedOnlineEncoded')
stringIndexer2 = StringIndexer(inputCol='Residence',outputCol='ResidenceEncoded')
stringIndexer3 = StringIndexer(inputCol='MortgageDefault', outputCol='label')

# Instanciate the algorithm
dt = DecisionTreeClassifier(labelCol="label", featuresCol="features")

# Pipelines API requires that input variables are passed in  a vector
assembler = (VectorAssembler(inputCols=["Income", "AppliedOnlineEncoded", "ResidenceEncoded", "YearCurrentAddress",
                                       "YearsCurrentEmployer", "NumberOfCards", "CCDebt", "Loans", "LoanAmount", 
                                       "SalePrice", "Location"], outputCol="features"))

pipeline = Pipeline(stages=[stringIndexer1, stringIndexer2, stringIndexer3, assembler, dt])
#pipeline = Pipeline(stages=[stringIndexer1, stringIndexer2, stringIndexer3])

# Build model
model = pipeline.fit(merged2)

### Step 7: Score the test data set

In [14]:
results = model.transform(testingData)
# This is a preview of 10 rows
results.toPandas().head()

,ID,Income,AppliedOnline,Residence,YearCurrentAddress,YearsCurrentEmployer,NumberOfCards,CCDebt,Loans,LoanAmount,SalePrice,Location,historicalLabel,AppliedOnlineEncoded,ResidenceEncoded,features,rawPrediction,probability,prediction
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820,180000,130,0,0,0,"[43593.0, 0.0, 0.0, 13.0, 0.0, 1.0, 2315.0, 0....","[8.0, 4.0]","[0.666666666667, 0.333333333333]",0
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275,145000,100,1,0,0,"[45706.0, 0.0, 0.0, 17.0, 16.0, 2.0, 373.0, 1....","[39.0, 37.0]","[0.513157894737, 0.486842105263]",0
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760,145000,110,0,0,0,"[44756.0, 0.0, 0.0, 19.0, 6.0, 1.0, 2117.0, 1....","[25.0, 5.0]","[0.833333333333, 0.166666666667]",0
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455,170000,100,0,0,0,"[44202.0, 0.0, 0.0, 8.0, 0.0, 2.0, 748.0, 0.0,...","[25.0, 5.0]","[0.833333333333, 0.166666666667]",0
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985,137000,100,0,0,0,"[45715.0, 0.0, 0.0, 8.0, 14.0, 2.0, 772.0, 1.0...","[25.0, 5.0]","[0.833333333333, 0.166666666667]",0

### Step 8: Model Analysis
Find precision of the model, this is similar to Analysis node in Modeler.

In [15]:
print('The model precision is {0:0.2f}.'.format(results.filter(results.historicalLabel == results.prediction).count() / float(results.count())))

The model precision is 0.69.

### Step 9: Model Evaluation
This step is similar to the Evaluation node in Modeler

In [16]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Evaluate model
evaluator = BinaryClassificationEvaluator(rawPredictionCol="prediction", labelCol="historicalLabel", metricName="areaUnderROC")
print('The model precision is {0:0.2f}.'.format(evaluator.evaluate(results)))

The model precision is 0.68.

### Step 10: Save Model then reload it for scoring. (deployment concept)
Save model in Object Storage. 

A separate notebook can be created for "batch scoring deployment". This deployment notebook retrieves the model from object storage and applies it to a new dataset. The notebook can be scheduled to run via the Notebook scheduler (the clock icon on the menu bar) or through the deployment interface in IBM ML (currently in beta). As a proof of concept, we will save and retrive our model in this notebook below, then use it to score again the same test data set.

In [16]:
model.write().overwrite().save("swift://MortgageDefault.keystone/model")

#### Read back the model from the location where it was saved above. This can be done in a different notebook altogether. (Assuming all credentials are available to access the target path)

In [17]:
from pyspark.ml import PipelineModel
sameModel = PipelineModel.load("swift://MortgageDefault.keystone/model")

#### Score the newly loaded model against our test data set for demo purposes

In [18]:
newresults = sameModel.transform(testingData)
# This is a preview of 5 rows
newresults.toPandas().head()

,ID,Income,AppliedOnline,Residence,YearCurrentAddress,YearsCurrentEmployer,NumberOfCards,CCDebt,Loans,LoanAmount,SalePrice,Location,historicalLabel,AppliedOnlineEncoded,ResidenceEncoded,features,rawPrediction,probability,prediction
0,100272,43593,YES,Owner Occupier,13,0,1,2315,0,12820,180000,130,0,0,0,"[43593.0, 0.0, 0.0, 13.0, 0.0, 1.0, 2315.0, 0....","[8.0, 4.0]","[0.666666666667, 0.333333333333]",0
1,100273,45706,YES,Owner Occupier,17,16,2,373,1,7275,145000,100,1,0,0,"[45706.0, 0.0, 0.0, 17.0, 16.0, 2.0, 373.0, 1....","[39.0, 37.0]","[0.513157894737, 0.486842105263]",0
2,100279,44756,YES,Owner Occupier,19,6,1,2117,1,10760,145000,110,0,0,0,"[44756.0, 0.0, 0.0, 19.0, 6.0, 1.0, 2117.0, 1....","[25.0, 5.0]","[0.833333333333, 0.166666666667]",0
3,100280,44202,YES,Owner Occupier,8,0,2,748,0,10455,170000,100,0,0,0,"[44202.0, 0.0, 0.0, 8.0, 0.0, 2.0, 748.0, 0.0,...","[25.0, 5.0]","[0.833333333333, 0.166666666667]",0
4,100282,45715,YES,Owner Occupier,8,14,2,772,1,12985,137000,100,0,0,0,"[45715.0, 0.0, 0.0, 8.0, 14.0, 2.0, 772.0, 1.0...","[25.0, 5.0]","[0.833333333333, 0.166666666667]",0

### Step 8: Save Model in WML repository

In this section you will learn how to store your pipeline and model in the Watson Machine Learning (WML) repository by using Python client libraries.
First, you must import client libraries.

In [19]:
from repository.mlrepositoryclient import MLRepositoryClient
from repository.mlrepositoryartifact import MLRepositoryArtifact

Put your authentication information from your instance of the Watson Machine Learning service in Bluemix in the next cell. You can find your information on the Service Credentials tab of your service instance in Bluemix.

<span style="color:red">Replace the service_path and credentials with your own information</span>

In [20]:
service_path = 'https://ibm-watson-ml.mybluemix.net'
username = '37a6c710-9576-456e-a8be-5cf859ccb7e9'
password = '9eb88d5d-6e5e-4e85-b089-2e6c5ab579b3'

Authorize the repository client:

In [21]:
ml_repository_client = MLRepositoryClient(service_path)
ml_repository_client.authorize(username, password)

Create the model artifact (abstraction layer).

<b>Tip:</b> The MLRepositoryArtifact method expects a trained model object, training data, and a model name. (It is this model name that is displayed by the Watson Machine Learning service).

In [22]:
model_artifact = MLRepositoryArtifact(model, training_data=merged2, name="PredictMortgageDefault")

Save pipeline and model artifacts to your Watson Machine Learning instance:

In [23]:
saved_model = ml_repository_client.models.save(model_artifact)

### Step 9:  Generate Authorization Token for Invoking the model

In [29]:
import urllib3, requests, json

headers = urllib3.util.make_headers(basic_auth='{}:{}'.format(username, password))
url = '{}/v2/identity/token'.format(service_path)
response = requests.get(url, headers=headers)
mltoken = json.loads(response.text).get('token')
print mltoken

eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJ0ZW5hbnRJZCI6IjQ5NWMwOThiLTY5NDItNDllOC1iNDhkLWY0NDgyOThhYTQwNSIsImluc3RhbmNlSWQiOiI0OTVjMDk4Yi02OTQyLTQ5ZTgtYjQ4ZC1mNDQ4Mjk4YWE0MDUiLCJwbGFuSWQiOiIzZjZhY2Y0My1lZGU4LTQxM2EtYWM2OS1mOGFmM2JiMGNiZmUiLCJyZWdpb24iOiJ1cy1zb3V0aCIsInVzZXJJZCI6IjM3YTZjNzEwLTk1NzYtNDU2ZS1hOGJlLTVjZjg1OWNjYjdlOSIsImlzcyI6Imh0dHA6Ly8xMjkuNDEuMjI5LjE4ODo4MDgwL3YyL2lkZW50aXR5IiwiaWF0IjoxNDkzMjM2MzQ0LCJleHAiOjE0OTMyNjUxNDR9.DCkSkzH0noCgtT077rba5V9JRGxlx2OWBQznzivtcBnLz9JlP-qiuEIoOhlXgtzfG1OMbYOxqL4zHicw-uj8ktX-5EIF7531smAC-Kl_hK889mlTipr3R9pgYECoQ-Yh9d8vLBHbUovKcNE0Cp-7-yCuG-NmMHJJn9wxHPXv0HYpJ8mLtK-71nX5muDBiYd8aT6ya8YjPqIaC9HB0LnV2jYq5Mcd7QpbbT1pUZlxqn4KyZn6fKSBZuqUXQ4_DAnvoGxSDxH9qjA6JGGkC-pPggod1Kdwa0LM4bOjqVDifi9j3PTIChc5wMIF1bb2sMT6MAMeNWscxPmv6F-yggvyQw

### 6.1: Create an online scoring endpoint
Now you can create an online scoring endpoint. Execute the following sample code that uses the **modelVersionHref** value to create the scoring endpoint to the Bluemix repository.

In [25]:
endpoint_online = service_path + "/v2/online/deployments/"
header_online = {'Content-Type': 'application/json', 'Authorization': mltoken}
payload_online = {"artifactVersionHref": saved_model.meta.prop("modelVersionHref"), "name": "PredictMortgageDefault"}

response_online = requests.post(endpoint_online, json=payload_online, headers=header_online)

print response_online
print response_online.text

scoring_href = json.loads(response_online.text).get('entity').get('scoringHref')
print scoring_href

<Response [201]>
{"metadata":{"guid":"2264","href":"https://ibm-watson-ml.mybluemix.net/v2/online/deployments/2264","createdAt":"2017-04-26T16:34:31.094Z","modifiedAt":"2017-04-26T16:34:31.094Z"},"entity":{"scoringHref":"https://ibm-watson-ml.mybluemix.net/32768/v2/scoring/2264"}}
https://ibm-watson-ml.mybluemix.net/32768/v2/scoring/2264

Send (PUT) new scoring records (new data) for which you would like to get predictions:

In [26]:
payload_scoring =  {"record":[999,47422.000000,"YES","Owner Occupier",11.000000,12.000000,2.000000,2010.000000,1.000000,12315.000000,330000,100]}
response_scoring = requests.put(scoring_href, json=payload_scoring, headers=header_online)

print response_scoring.text

{"result":{"ID":999.0,"ResidenceEncoded":0.0,"Location":100,"LoanAmount":12315.0,"CCDebt":2010.0,"YearCurrentAddress":11.0,"AppliedOnline":"YES","features":{"values":[47422.0,0.0,0.0,11.0,12.0,2.0,2010.0,1.0,12315.0,330000.0,100.0]},"NumberOfCards":2.0,"AppliedOnlineEncoded":0.0,"prediction":1.0,"Residence":"Owner Occupier","SalePrice":330000,"YearsCurrentEmployer":12.0,"Loans":1.0,"rawPrediction":{"values":[33.0,37.0]},"Income":47422.0,"probability":{"values":[0.4714285714285714,0.5285714285714286]}}}

In [28]:
str(response_scoring.json()["result"]["prediction"])

'1.0'